.skills-row__list {
  display: flex;
}

.skill {
  display: flex;
}


.skill__shape {
  width: 200px;
  height: 200px;
  fill: transparent;
  stroke: red;
  stroke-width: 4px;
}

.skill__title {
  position: absolute;
  
}
